{% render 'partials/head.liquid', title: 'cases' %}

<main>
    <section class="alle-projecten">
        <h1><strong>Projecten</strong> waar we trots op zijn</h1>
        {% for case in cases %}
            <article class="projecten">
                <h2>{{ case.title.rendered }}</h2>
                <p>{{ case.content.rendered | strip_html | truncatewords: 32 }}</p>
                <img src="{{ case.yoast_head_json.og_image[0].url }}" alt="{{ case.title.rendered }}" width="500">
            </article>
        {% endfor %}        
    </section>

    <nav class="paginering-cases">
    <ol>
        {% for pagina in (1..totalPages) %}
        {% if pagina == currentPage %}
            <li><strong>{{ pagina }}</strong></li> 
        {% else %}
            <li><a href="/cases/page{{ pagina }}">{{ pagina }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
    </nav>
</main>

{% render 'partials/foot.liquid' %}