{% render 'partials/head.liquid', title: 'cases detail' %}

<main class="main-detail">

  {% comment %} Breadcrumb {% endcomment %}
  <nav class="nav-detail-breadcrumbs" aria-label="Breadcrumb">
    <ol class="list-detail-breadcrumbs">
      <li><a href="/">{{ case.yoast_head_json.schema["@graph"][2].itemListElement[0].name }}</a></li>
      <li><a href="/cases">{{ case.yoast_head_json.schema["@graph"][2].itemListElement[1].name }}</a></li>
      <li>
        <a href="{{ current_page_url }}" aria-current="page">
          {{ case.yoast_head_json.schema["@graph"][2].itemListElement[2].name }}
        </a>
      </li>
    </ol>
  </nav>

  {% comment %} Image van het project waar op geklikt is {% endcomment %}
  <section class="section-detail-image">
    <img src="{{ case.yoast_head_json.og_image[0].url }}" alt="{{ case.title.rendered }}" width="800" height="auto">
  </section>

  <!-- Leestijd etc. -->
  <section class="section-detail-titels">
    <h1>{{ case.title.rendered }}</h1>
    <div class="detail-leestijd">
      <a href="https://labelvier.nl/blog/onderwerp/soort-product/website/">Website</a>
      <img src="" alt="" width="15" height="15"/>Leestijd {{ case.yoast_head_json.twitter_misc["Geschatte leestijd"] }}
      <img src="/img/calendar-days-svgrepo-com.svg" alt="" width="15" height="15" />{{ case.date_gmt | date: "%-d %m %Y" }}
    </div>
  </section>

  <section class="container-users">
    {% comment %} Projectleider {% endcomment %}
    <div class="detail-user-card">
      <figure>
        <picture>
          <source media="(min-width: 650px)" srcset="{{ projectleider.avatar_urls.96 }}">
          <source media="(min-width: 465px)" srcset="{{ projectleider.avatar_urls.48 }}">
          <img src="{{ projectleider.avatar_urls.24 }}" alt="{{ projectleider.name }}">
        </picture>
      </figure>
      <div>
        <h3>{{ projectleider.acf.user_data.profile_title }}</h3>
        <p>{{ projectleider.acf.user_data.role }}</p>
      </div>
    </div>

    {% comment %} Teamleden {% endcomment %}
    {% for user in teamleden %}
      <div class="detail-user-card">
        <figure>
          <picture>
            <source media="(min-width: 650px)" srcset="{{ user.avatar_urls.96 }}">
            <source media="(min-width: 465px)" srcset="{{ user.avatar_urls.48 }}">
            <img src="{{ user.avatar_urls.24 }}" alt="{{ user.name }}">
          </picture>
        </figure>
        <div>
          <h3>{{ user.acf.user_data.profile_title }}</h3>
          <p>{{ user.acf.user_data.role }}</p>
        </div>
      </div>
    {% endfor %}
  </section>

  {% comment %} Case alle inhoud inclusief foto's etc (onderste gedeelte) {% endcomment %}
  <section class="section-detail-content">
    <p>{{ case.content.rendered }}</p>
  </section>

  {% comment %} Contact opnemen met de projectleider {% endcomment %}
  <section class="section-detail-meerweten">
    <p>Meer weten over dit project? Neem contact op met de projectleider:</p>
    <div class="detail-contactpersoon">
      <a href="{{ projectleider.link }}">
        <div>
          <figure>
            <picture>
              <source media="(min-width: 650px)" srcset="{{ projectleider.avatar_urls.96 }}">
              <source media="(min-width: 465px)" srcset="{{ projectleider.avatar_urls.48 }}">
              <img src="{{ projectleider.avatar_urls.24 }}" alt="{{ projectleider.name }}">
            </picture>
          </figure>
        </div>
        </a>
        <div>
          <p><strong>{{ projectleider.name }}</strong>, projectleider</p>
          <a href="mailto:{{ projectleider.acf.case_projectleider.user_email }}">Stuur hier je mail{{ projectleider.acf.case_projectleider.user_email }}</a>
        </div>
    </div>
  </section>

  {% comment %} Op social media delen {% endcomment %}
  <section class="section-detail-delen">
    <h3><strong>Deel</strong> dit blogbericht via</h3>
    <ul class="detail-socials">
      <li><a href="https://twitter.com/intent/tweet?text={{ case.title.rendered | url_encode }}&url={{ case.link | url_encode }}&via=LabelVier" target="_blank" rel="noopener noreferrer"><img src="" alt="Deel op Twitter" width="15" height="15"/></a></li>
      <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ case.link | url_encode }}" target="_blank" rel="noopener noreferrer"><img src="" alt="Deel op Facebook" width="15" height="15"/></a></li>
      <li><a href="https://wa.me/?text={{ case.title.rendered | url_encode }}%20{{ case.link | url_encode }}" target="_blank" rel="noopener noreferrer"><img src="" alt="Deel via WhatsApp" width="15" height="15"/></a></li>
      <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ case.link | url_encode }}&title={{ case.title.rendered | url_encode }}" target="_blank" rel="noopener noreferrer"><img src="" alt="Deel op LinkedIn" width="15" height="15"/></a></li>
    </ul>
  </section>

</main>

{% render 'partials/foot.liquid' %}